<div class="wrapper">


  <mat-tab-group>
    
    <mat-tab label="Planner">
       <div class="container" >
        <h2 class="section-heading">Recommended plan</h2>
        <div cdkDropList #addedList="cdkDropList" (cdkDragStarted)="dragStart($event)" class="item-list" [cdkDropListData]="AddedList"
          [cdkDropListConnectedTo]="[doneList]"  (cdkDropListDropped)="onDrop($event)" (cdkDropListDropped)="count()" >
          <div  class="item-box"   *ngFor="let addedList of AddedList"  (cdkDragStarted)="dragStart($event)"  cdkDrag >
          
            <mat-grid-list cols="2" >
              <div class="example-handle" cdkDragHandle>
                <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
                  <path d="M0 0h24v24H0z" fill="none"></path>
                </svg>
              </div>
              <mat-grid-title >
                <div>{{addedList.name}}&nbsp; &nbsp;{{addedList.time}}</div>
               </mat-grid-title>
              <mat-grid-title>
                <div  >  <mat-slider id={{addedList.id}} class="check"  thumbLabel tickInterval="5" min="0" max="30" step="5" value={{addedList.time}} (change)=onchange($event)></mat-slider></div>
              </mat-grid-title>
            </mat-grid-list>
          <!-- <div>{{addedList.name}}</div>
          <div>{{addedList.time}}</div>
          <div>  <mat-slider id={{addedList.id}} thumbLabel tickInterval="5" min="0" max="25" step="1" value={{addedList.time}} (change)=onchange($event)></mat-slider>
          </div> -->
          </div>
        </div>
      </div>
   
      
    
      <div class="container">
        <div class= "twoheading" >
            <h2 class="section-heading"> Main Plan &nbsp;&nbsp; Total :{{hours}} {{minutes}}</h2>
           </div>
         <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="DropList"
           [cdkDropListConnectedTo]="[addedList]" class="item-list"   (cdkDropListDropped)="onDrop($event)" (cdkDropListDropped)="count()" >
           <div class="item-box" *ngFor="let droplist of DropList" (cdkDragStarted)="dragStart($event)" cdkDrag><div>{{droplist.name}}&nbsp; &nbsp;</div><div>{{droplist.time}}</div></div>
         </div>
        </div>
      
    
      
    </mat-tab>
  </mat-tab-group>
  </div>


